body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure the content is centered vertically */
    padding: 200px 16px;  /* Equal padding on top and bottom, 16px for left and right */
    background-color: #000;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Georgia', serif;
    text-align: center;
}

h1 {
    font-size: 4rem;                    /* Larger font size */
    font-weight: bold;                  /* Make it bold */
    text-align: center;                 /* Ensures text is centered */
    letter-spacing: 2px;                /* Adds spacing between letters */
    text-transform: uppercase;          /* Makes the title uppercase */
    color: white;
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    width: 100%;              /*gallery always shrinks with window*/
    max-width: 100vw;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
}

.gallery img {
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 470px; /* Consistent height across all images */
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    cursor: pointer; /* Make overlay clickable */
}

.gallery-item:hover .overlay,
.gallery-item.active .overlay {
    opacity: 1;
}

.overlay p {
    margin: 0;
    padding: 10px;
}

.gallery-item.active .overlay {
    opacity: 1;
}
